<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95169262425-rdhsg9m8or9mdnk10flmftgsoj9q9ldg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95169262425-rdhsg9m8or9mdnk10flmftgsoj9q9ldg</string>
	<key>API_KEY</key>
	<string>AIzaSyBK0_tUV7YnFOyVtYl7tKj7keDyZhdoor8</string>
	<key>GCM_SENDER_ID</key>
	<string>95169262425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vision.findout</string>
	<key>PROJECT_ID</key>
	<string>findout-91e95</string>
	<key>STORAGE_BUCKET</key>
	<string>findout-91e95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95169262425:ios:809e155eaf5bb45e6e5248</string>
</dict>
</plist>