<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Find-Out</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>findout</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>You must be allowed to change your profile picture on your account. يجب السماح لتغيير صورة الشخصية لك بحسابك</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>يجب السماح لاستخدام موقعك لنوفر لك اقرب مزود خدمة لموقعك الحالي وعدم السماح بتحديد موقعك فلا يمكننا توفير خدماتنا بشكل كامل / You must be allowed to use your location to provide you with the closest service provider to your current location and not allow your location to be determined, as we cannot fully provide our services</string>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) يجب السماح لاستخدام موقعك لنوفر لك اقرب مزود خدمة لموقعك الحالي وعدم السماح بتحديد موقعك فلا يمكننا توفير خدماتنا بشكل كامل / You must be allowed to use your location to provide you with the closest service provider to your current location and not allow your location to be determined, as we cannot fully provide our services </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string> يجب السماح لاستخدام موقعك لنوفر لك اقرب مزود خدمة لموقعك الحالي وعدم السماح بتحديد موقعك فلا يمكننا توفير خدماتنا بشكل كامل / You must be allowed to use your location to provide you with the closest service provider to your current location and not allow your location to be determined, as we cannot fully provide our services </string>
	<key>NSMicrophoneUsageDescription</key>
	<string>You must be allowed to change your profile picture on your account. يجب السماح لتغيير صورة الشخصية لك بحسابك</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You must be allowed to change your profile picture on your account. يجب السماح لتغيير صورة الشخصية لك بحسابك</string>

	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
